[Unit]
Description=uWSGI instance to server JIST project
After=network.target

[Service]
User=alegra6
Group=nginx
WorkingDirectory=/home/alegra6/public_html/surojit/JIST/project
Environment="PATH=/home/alegra6/public_html/surojit/JIST/my_jist/bin"
ExecStart=/home/alegra6/public_html/surojit/JIST/my_jist/bin/uwsgi --ini /home/alegra6/public_html/surojit/JIST/project/jistApi.ini

[Install]
WantedBy=multi-user.target
